body {
  font-family: "roboto";
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#favorites {
  list-style: none;
  display: none;
  color: rgb(181, 181, 181);
  font-weight: bold;
  padding: 0;
  margin: 10px auto 0px;
  font-size: 13px;
  text-shadow: none;
}

#favorites.active {
  display: block;
  top: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

li {
  display: inline;
  padding-right: 20px;
}

li[class^="city-"],
.edit {
  transition: all 200ms ease-in-out;
}

li[class^="city-"]:hover,
.edit:hover {
  color: rgb(118, 118, 118);
  cursor: pointer;
  text-decoration: underline;
}

.container {
  color: white;
  margin: 0px;
  height: fit-content;
  text-align: center;
}

.search-container {
  position: relative;
  margin: 20px auto 0px;
  padding: 0px 0px 10px;
  text-align: center;
  width: fit-content;
}

.search-city {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px 0px 0px 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 0px 0px 0px 6px;
}

.search-button {
  border: 1px solid #ccc;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(172, 170, 170);
  position: relative;
  right: 10px;
  color: white;
  transition: all 200ms ease-in-out;
}

.search-button:hover {
  background-color: rgb(118, 118, 118);
  cursor: pointer;
}

.location-button {
  border: none;
  background-color: transparent;
  color: rgb(172, 170, 170);
  position: relative;
  left: -10px;
}

.location-button:hover {
  color: rgb(118, 118, 118);
  cursor: pointer;
}

.plus-icon {
  border: none;
  background-color: transparent;
  color: rgb(172, 170, 170);
  position: relative;
  left: -15px;
  transition: all 200ms ease-in-out;
}

.plus-icon:hover {
  color: rgb(118, 118, 118);
  cursor: pointer;
}

.one-day-temp-container {
  position: relative;
  max-width: 60%;
  top: 0;
  border: none;
  margin: 0px auto 10px;
  border-radius: 15px;
  padding: 0px 0px 50px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-image: url("muestra_1.JPG");
  background-size: cover;
}

.city {
  font-family: "roboto";
  font-weight: 600;
  font-size: 45px;
  margin: 0;
  padding-top: 10px;
  text-transform: capitalize;
}

.principal-data {
  font-size: 13px;
  font-family: "roboto";
  line-height: 0.5px;
  margin-bottom: 30px;
}

.main-temp {
  font-size: 60px;
  text-align: center;
  position: relative;
  left: 10px;
  margin-top: 10px;
  text-decoration: none;
}

.unit-button {
  transition: all 200ms ease-in-out;
  text-decoration: none;
  color: white;
}

.unit-button:hover {
  color: #ccc;
  cursor: pointer;
  text-decoration: underline;
}

.icon-temp {
  font-size: 80px;
  text-align: center;
}

.condition {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 25px;
  text-transform: capitalize;
}

.wind {
  margin: 0;
  line-height: 0px;
  position: relative;
  font-size: 20px;
  padding-top: 20px;
}

.precipitation {
  line-height: 0px;
  position: relative;
  right: 9px;
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 0;
}

.percentage {
  font-size: 9px;
  position: relative;
  bottom: 10px;
  right: 5px;
}

.seven-day-container {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  background-repeat: no-repeat;
  position: relative;
  max-width: 60%;
  height: fit-content;
  top: 0;
  border: none;
  margin: 0 auto;
  border-radius: 15px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.sev-day-rowone {
  padding: 0px;
}

.day-one,
.day-two,
.day-three,
.day-four,
.day-five,
.day-six,
.day-seven {
  font-size: 18px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.other-icons {
  font-size: 40px;
  margin: 5px 0;
}

.max-min-temp {
  margin-bottom: 10px;
}

.min-temp {
  font-size: 14px;
}

.max-temp {
  font-weight: 600;
  font-size: 16px;
}

.footer {
  color: rgb(169, 169, 169);
  text-shadow: none;
  font-family: monospace;
  margin-top: 20px;
}

.coder {
  text-decoration: none;
  color: rgb(169, 169, 169);
  transition: all 200ms ease-in-out;
}

.coder:hover {
  color: rgb(118, 118, 118);
  text-decoration: underline;
}
